<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllClear"
        tools:targetApi="31" >
        <activity
            android:name=".maketimetable.SelectGaneralElectiveActivity"
            android:exported="false" />
        <activity
            android:name=".maketimetable.SelectMajorActivity"
            android:exported="false" />
        <activity
            android:name=".maketimetable.SelectEssentialGeneralElectiveActivity"
            android:exported="false" />
        <activity
            android:name=".maketimetable.SelectMajorBaseActivity"
            android:exported="false" />
        <activity
            android:name=".maketimetable.SelectSemesterActivity"
            android:exported="false" />
        <activity
            android:name=".maketimetable.SaveTimeTableActivity"
            android:exported="false" />
        <activity
            android:name=".maketimetable.EssentialSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".maketimetable.SelfAddOneActivity"
            android:exported="false" />
        <activity
            android:name=".maketimetable.SelfAddTwoActivity"
            android:exported="false" />
        <activity
            android:name=".ListTimeTableActivity"
            android:exported="true" />
        <activity
            android:name=".EditTimeTableActivity"
            android:exported="true" />
        <activity
            android:name=".AddTimeTableActivity"
            android:exported="true" />
        <activity
            android:name=".MainPageActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>